.hidden {
  display: none;
}
header{
  background-color: black;
}
header h2{
  color: white;
  text-align: center;
}
nav {
  background-color: #000000;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;

}

nav ul li a:hover {
  text-decoration: underline;
}

.hero img{
  width: -webkit-fill-available;
  margin-top: 10px;
}

.services img {
  width: -webkit-fill-available;
  border-radius: 35px;
  transition: transform 0.3s ease;
}

.services img:hover {
  transform: scale(0.9);
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #9e2e2e;

}

footer h2{
  text-align: center;
}
footer p{
  text-align: center;
}

/* Contact  */

.contact-hero{
  background-image: url(../img/contact-img.jpg);
  background-size: cover;
  background-position: center;
  height: 815px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-hero h2 {
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  

  .hero img{
    width: -webkit-fill-available;
    margin-top: 10px;
  }
  .services img {
    width: -webkit-fill-available;
    border-radius: 35px;
    transition: transform 0.3s ease;
  }
  
  .services img:hover {
    transform: scale(0.9);
  }
  
  .info{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #9e2e2e;

  }

  footer h2{
    text-align: center;
  }
  footer p{
    text-align: center;
  }

  /* Contact  */

  .contact-hero{
    background-image: url(../img/contact-img.jpg);
    background-size: cover;
    background-position: center;
    height: 815px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .contact-hero h2 {
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    
  }
  
  .contact-form {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: -webkit-fill-available;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .mob{
        filter: invert(100%);
  }

}

.contact-form {
  width: auto;
  margin: 0 auto;
}

.contact-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.heading {
  font-size: 40px;
  font-style: bold;
  
}

.info {
  text-align: center;


}



